<div class="bookingjs-confirm-delete-backdrop">
    <div class="bookingjs-confirm-delete">
        <a class="bookingjs-confirm-delete-close" href="#">{{& closeIcon }}</a>
        <div class="bookingjs-confirm-delete-content">
            <div class="bookingjs-confirm-delete-container">
                <h3 class="bookingjs-confirm-delete-container-prompt">Are you sure you want to delete this availability?</h3>
                <h2 class="bookingjs-confirm-delete-container-day">{{ chosenDate }}</h2>
                <h3 class="bookingjs-confirm-delete-container-time">{{ chosenTime }}</h3>
                <button class="bookingjs-confirm-delete-container-button no">No</button>
                <button class="bookingjs-confirm-delete-container-button yes">Delete</button>
            </div>
        </div>
    </div>
</div>